<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Nombre Empleado</th>
        <th>Nombre Patron</th>
        <th>CURP</th>
        <th>Domicilio</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>
</div>
